In [1]:
import pandas as pd

In [2]:
def process_excel_file(filename):
    xls = pd.read_excel(filename, sheet_name=None, engine='openpyxl')

    for sheet_name, data in xls.items():
        print("Now working on sheet name: ", sheet_name)
        if sheet_name != "Consumer_Firm_Sectors":
            # Remove rows with missing values in the second column
            data = data.dropna(subset=[data.columns[1]])
            data = data[pd.to_numeric(data.iloc[:, 1], errors='coerce').notnull()] # Keep only rows with numeric values in the second column
            data.to_csv(f"{sheet_name}.csv", index=False, header=False)
        else:
            data.iloc[:, 0] = data.iloc[:, 0].str.replace(' ', '_') # Replace spaces with underscores
            data.to_csv(f"{sheet_name}.csv", index=False)

        

process_excel_file("Simulation_Parameters.xlsx")

Now working on sheet name:  Initialization_Parameters
Now working on sheet name:  Main_Loop_Parameters
Now working on sheet name:  Randomness_Parameters
Now working on sheet name:  Consumer_Firm_Sectors

In [3]:
xls = pd.read_excel("Simulation_Parameters.xlsx", sheet_name=None, engine='openpyxl')

In [4]:
data = xls['Initialization_Parameters']

In [5]:
data

    Agent Initialization Parameters       Value
0                              Bank         NaN
1           bank_init_interest_rate        0.02
2                        Households         NaN
3              household_init_c_std        0.15
4              household_init_c_min        0.10
..                              ...         ...
136       emisssion_sensitivity_std        0.10
137  emission_sensitivity_threshold        0.05
138             Emission Allowances         NaN
139   emission_init_total_allowance  1000000.00
140        emission_init_unit_price        0.50

[141 rows x 2 columns]